{% extends "base.html" %}
{% block content %}
    <div class="text-center" style="width: 80rem; padding-left: 50rem; padding-top: 10rem;">
        <img src= "static/uploads/{{img}}" alt="class_image" class="card-img-top" width="120px" height="240px"> 
        <h4 class="card-header">Class Prediction</h4>
    </div>
    <div class="card-body text-center">
           <p>Cat: <em>{{cat}}%</em></p>
            <p>Dog: <em>{{dog}}%</em></p>
            {% if cat > dog %}
                <p>It's a <em>Cat!</em> Meaow</p>
            {% else %}
                <p>It's a <em>Dog!</em> Bow..</p>
            {% endif %}
        </div>
{% endblock %}

